<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h4>Profile</h4>
        サイト管理者：s-hama<br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-8">
        Office : Fukuoka, Japan<br />
        Mail : s-hama@sigma-se.jp<br />
        Mobile : 080-3227-3792, +8180-3227-3792<br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <strong>個人経歴</strong><br />
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">開発期間</th>
                <th scope="col">業種</th>
                <th scope="col">プロジェクト</th>
                <th scope="col">ポジション</th>
                <th scope="col">主な開発言語</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>'07.06～'07.09</td>
                <td>福祉</td>
                <td>勤怠管理WEBシステム</td>
                <td>PG, Tester</td>
                <td>C#.NET</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>'07.10～'08.12</td>
                <td>医療</td>
                <td>創薬支援システム</td>
                <td>PG, Tester</td>
                <td>C#.NET</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>'09.01～'09.01</td>
                <td>情報通信</td>
                <td>勤怠管理WEBシステム</td>
                <td>PG, Tester</td>
                <td>C#.NET</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>'09.02～'09.03</td>
                <td>教育</td>
                <td>生徒管理システム</td>
                <td>PG, Tester</td>
                <td>VB6</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>'09.04～'09.06</td>
                <td>メディア</td>
                <td>勤怠管理WEBシステム</td>
                <td>PG, Tester</td>
                <td>C#.NET</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>'09.07～'09.11</td>
                <td>公務</td>
                <td>生産管理システム</td>
                <td>PG, Tester</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>'09.12～'09.12</td>
                <td>製造</td>
                <td>商品管理システム</td>
                <td>PG, Tester</td>
                <td>VB6</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>'10.01～'10.08</td>
                <td>製造</td>
                <td>経理管理システム</td>
                <td>PG, Tester</td>
                <td>C#.NET</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>'10.09～'11.08</td>
                <td>教育</td>
                <td>教師保護者連絡WEBシステム</td>
                <td>PL, SE, PG</td>
                <td>PHP</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>'11.09～'12.10</td>
                <td>教育</td>
                <td>生徒統合ID管理WEBシステム</td>
                <td>PL, SE, PG</td>
                <td>Java, PHP</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>'12.11～'13.10</td>
                <td>教育</td>
                <td>プリンター管理WEBシステム</td>
                <td>PL, SE, PG</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>'13.11～'15.02</td>
                <td>教育</td>
                <td>授業補助WEBシステム</td>
                <td>PL, SE, PG</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>'15.03～'15.10</td>
                <td>製造</td>
                <td>生産管理WEBシステム</td>
                <td>PG, Tester</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">14</th>
                <td>'15.11～'16.06</td>
                <td>教育</td>
                <td>教員サポートWEBシステム</td>
                <td>PM, SE, PG</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">15</th>
                <td>'16.07～'16.09</td>
                <td>製造</td>
                <td>生産管理WEBシステム</td>
                <td>PG, Tester</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">16</th>
                <td>'16.10～'17.03</td>
                <td>信販</td>
                <td>キャッシングWEBシステム</td>
                <td>SE, PG</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">17</th>
                <td>'17.04～'19.03</td>
                <td>保険</td>
                <td>経理管理WEBシステム</td>
                <td>SE, PG</td>
                <td>C#.NET</td>
              </tr>
              <tr>
                <th scope="row">18</th>
                <td>'17.09～継続中</td>
                <td>個人事業</td>
                <td>技術ブログWEBシステム</td>
                <td>個人運用</td>
                <td>Python</td>
              </tr>
              <tr>
                <th scope="row">19</th>
                <td>'19.04～'20.04</td>
                <td>情報通信</td>
                <td>端末申込WEBシステム</td>
                <td>SE, PG</td>
                <td>TypeScript(Angular), Java</td>
              </tr>
              <tr>
                <th scope="row">20</th>
                <td>'20.05～'20.09</td>
                <td>公共</td>
                <td>料金計算データリカバリ</td>
                <td>PG</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">21</th>
                <td>'20.10～'20.11</td>
                <td>教育</td>
                <td>成績管理WEBシステム</td>
                <td>PG</td>
                <td>TypeScript(React)</td>
              </tr>
              <tr>
                <th scope="row">22</th>
                <td>'20.12～'21.09</td>
                <td>交通</td>
                <td>交通情報管理WEBシステム</td>
                <td>SL, SE, PG</td>
                <td>Java</td>
              </tr>
              <tr>
                <th scope="row">23</th>
                <td>'21.10～'22.08</td>
                <td>製造</td>
                <td>空調管理WEBシステム</td>
                <td>SE, PG</td>
                <td>TypeScript(Angular)</td>
              </tr>
              <tr>
                <th scope="row">24</th>
                <td>'22.09～'22.10</td>
                <td>医療</td>
                <td>診療予約管理WEBシステム</td>
                <td>PG</td>
                <td>TypeScript(Angular)</td>
              </tr>
              <tr>
                <th scope="row">25</th>
                <td>'22.11～継続中</td>
                <td>情報通信</td>
                <td>アクセス情報分析WEBシステム</td>
                <td>PG</td>
                <td>TypeScript(Angular)</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>